

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/site_template.css', type='text/css' )
    link(rel='stylesheet', href='/stylesheets/background_image.css', type='text/css' )
  body
    block content

script(src="https://code.jquery.com/jquery-3.2.1.js")
script
  include ../public/javascripts/text.js
